@model Umfrage_Tool.SurveyViewModel

@{
    ViewBag.Title = "Umfrage bearbeiten";
}

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        @if (Session["Fertig"] == null)
        {
            Session["Fertig"] = "FALSE";
        }
        @if (Session["Fertig"].ToString() != "TRUE")
        {
            int last = Model.questionViewModels.Count();
            Session["UmfrageID"] = Model.ID;
            <h4>@Model.name</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.Action("Vorschau", "Umfrage_Erstellung")
                    <input name="subject" type="submit" value="Aktualisieren" class="btn btn-default Eigenschaftenfelder" />
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Fragetext</label>
                    </div>
                    <div class="col-md-5">
                        <input name="model.questionViewModels[@last].text" id="model.questionViewModels[@last].text" class="form-control Eigenschaftenfelder" maxlength=400 />
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Fragetyp</label>
                    </div>
                    <div class="col-md-5">
                        <select class="form-control" id="model.questionViewModels[@last].typ" onchange="DropdownChange(this)" name="model.questionViewModels[@last].typ">
                            <option value="0">Freitext</option>
                            <option value="1">MultipleChoice</option>
                            <option value="2">Skala</option>
                        </select>
                        <div id="Antwortmoeglichkeitenfeld">

                        </div>
                    </div>
                    <div class="col-md-5">
                        <button id="plus" class="btn btn-md btn-info" disabled>Antwort hinzufügen</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input name="subject" type="submit" value="Frage speichern" class="btn btn-default" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input name="subject" type="submit" value="Bearbeitung beenden" class="btn btn-default" />
                </div>
            </div>

        }
        @if (Session["Fertig"].ToString() == "TRUE")
        {
            Session["Fertig"] = "FALSE";
            <div id="FertigeUmfrage" style="text-align:center">
                Glückwunsch!<br />
                Ihr Fragebogen wurde erfolgreich erstellt!<br />
                Hier ist der Link um Ihre Umfrage zu beantworten:<br />
                <label>
                    localhost:60480/Umfrage_Beantwortung?arg=@Session["UmfrageID"].ToString()
                </label><br />
                <input name="subject" type="submit" value="Ende" class="btn btn-default btn-lg" />
            </div>
        }
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function gt() {
        console.log(@Model)
    };

    function DropdownChange(typ) {
        switch (parseInt(typ.value)) {
            case 0:
                $('#plus').prop('disabled', true);
                document.getElementById("Antwortmoeglichkeitenfeld").innerHTML = "";
                break;
            default:
                $('#plus').prop('disabled', false);
                document.getElementById("Antwortmoeglichkeitenfeld").innerHTML = "";
                $('#plus').click();
                $('#plus').click();
                break;
        }
    };

    $("#plus").on("click", function () {
        $.ajax({
            url: '@Url.Action("Plus_Antwort", "Umfrage_Erstellung")',
            success: function (response) {
                $("#Antwortmoeglichkeitenfeld").append(response);
            }
        });
        event.preventDefault();
    });
</script>

