@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Vorschau.css" rel="stylesheet" type="text/css" media="print" />

<div class="row AbstandVonFragenUndAntworten">
    <div class="col-sm-3">
       
    </div>
    <div class="col-sm-7">
        <input value=""
               type="text"
               class="form-control"
               style="width:100% !important; max-width:100% !important"
               readonly />
    </div>
    <div class="col-sm-2">

    </div>
</div>

@*@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Vorschau.css" rel="stylesheet" type="text/css" media="print" />

<div class="panel-body panel-default Zeile">
    <table class="Volle_Breite">
        <tr class="Antwortmöglichkeitzeile">
            <td style="width:10% !important; text-align:right; padding-right:15px"></td>
            <td style="width:30% !important">
                <input value=""
                       type="text"
                       class="form-control"
                       style="width:100% !important; max-width:100% !important"
                       readonly />
            </td>
            <td style="width:60% !important; text-align:left; padding-right:0px"></td>
        </tr>
    </table>
</div>*@