<script src="~/Scripts/Frageerstellung.js"></script>
<label>
    <input id="Typ_Mehr" type="checkbox" onchange="var Mehr = this; var Sonst = document.getElementById('Typ_Sonst'); Typ_aendern(Mehr, Sonst);" />
    Mehrere Antworten
</label>
<br />
<label>
    <input id="Typ_Sonst" type="checkbox" onchange="var Mehr = document.getElementById('Typ_Mehr'); var Sonst = this; Typ_aendern(Mehr, Sonst);" />
    Sonstiges Feld
</label>

<table class="table">
    <tr class="Multizeile" style="display:inline">
        <td class="Erste_Spalte"></td>
        <td class="Zweite_Spalte">
            <input id="Antwort_0" type="text" class="form-control" name="model.questionViewModels[@Session["last"]].choices[0].text"  maxlength="250" required/>
        </td>
    </tr>
    <tr class="Multizeile" style="display:inline">
        <td class="Erste_Spalte"></td>
        <td class="Zweite_Spalte">
            <input id="Antwort_1" type="text" class="form-control" name="model.questionViewModels[@Session["last"]].choices[1].text"  maxlength="250" required/>
        </td>
    </tr>
    <tr id="Zeile_2" class="Multizeile" style="display:inline">
        <td class="Erste_Spalte">
            <button id="Plus_2" type="button" class="btn btn-md btn-success glyphicon glyphicon-plus" onclick="Zeige_Text(2,@Session["last"]);" />
            <button id="Minus_2" type="button" class="btn btn-md btn-danger glyphicon glyphicon-minus" onclick="Verstecke_Text(2);" style="display:none" />
        </td>
        <td class="Zweite_Spalte">
            <input id="Antwort_2" type="text" class="form-control" disabled  maxlength="250"/>
        </td>
    </tr>
    @for (int i = 3; i <= 13; i++)
    {
        <tr id="Zeile_@i" class="Multizeile" style="display:none">
            <td class="Erste_Spalte">
                <button id="Plus_@i" type="button" class="btn btn-md btn-success glyphicon glyphicon-plus" onclick="Zeige_Text(@i,@Session["last"]);" style="display:inline" />
                <button id="Minus_@i" type="button" class="btn btn-md btn-danger glyphicon glyphicon-minus" onclick="Verstecke_Text(@i);" style="display:none" />
            </td>
            <td class="Zweite_Spalte">
                <input id="Antwort_@i" type="text" class="form-control" disabled  maxlength="250"/>
            </td>
        </tr>
    }
    <tr id="Zeile_14" class="Multizeile" style="display:none">
        <td class="Erste_Spalte">
            <button id="Plus_14" type="button" class="btn btn-md btn-success glyphicon glyphicon-plus" onclick="Zeige_Text(14,@Session["last"]);" style="display:inline" />
            <button id="Minus_14" type="button" class="btn btn-md btn-danger glyphicon glyphicon-minus" onclick="Verstecke_Text(14);" style="display:none" />
        </td>
        <td class="Zweite_Spalte">
            <input id="Antwort_14" type="text" class="form-control" disabled  maxlength="250"/>
        </td>
    </tr>
</table>

<script>
</script>

<style>
    .Multizeile {
        height: 45px;
        width: 100%;
    }

    .Erste_Spalte {
        width: 30% !important;
    }

    .Zweite_Spalte {
        width: 70% !important;
    }
</style>