@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css"/>
<link href="~/Content/Vorschau.css" rel="stylesheet" type="text/css" media="print"/>
<link href="~/Content/Erstellung-Bearbeitung.css" rel="stylesheet">

@{
    var frage = Model;
}


@foreach (var antwort in frage.choices.OrderBy(z => z.position))
{
    <div class="row AbstandVonFragenUndAntworten">
        <div class="col-sm-3 MultipleChoiceDiv">
            <input type="checkbox" disabled class="AuswahlKnopf"/>
        </div>
        <div class="col-sm-7">
            <input id="@frage.choices.ToList().IndexOf(antwort)+FeldSkala+@frage.ID"
                   value="@antwort.text"
                   label="@antwort"
                   type="text"
                   class="form-control MultipleChoiceText NormalerText"
                   name="model.questionViewModels[@frage.position].choices[@antwort.position].text"
                   maxlength="250"
                   data-toggle="popover"
                   data-content="Antwortmöglichkeit eingeben"
                   required/>
        </div>
        <div class="col-sm-2">
            <button name="subject"
                    type="submit"
                    value="AntwortLöschen/@antwort.ID"
                    class="btn btn-warning glyphicon glyphicon-remove KnopfMitIcon KleinerKnopf"
                    onclick="return jaNein_Antwort();"
                    data-toggle="popover"
                    data-content="Antwortmöglichkeit löschen">
            </button> <br/>
        </div>
    </div>
}
<div class="row AbstandVonFragenUndAntworten">
    <div class="col-sm-3 MultipleChoiceDiv">
        <input type="checkbox" disabled class="AuswahlKnopf"/>
    </div>
    <div class="col-sm-7">
        <input type="text" class="form-control MultipleChoiceText NormalerText" name="@frage.ID" value="Sonstiges Feld" disabled/>
    </div>
    <div class="col-sm-2">

    </div>
</div>
@if (frage.choices.Count < 14)
{
    <div class="row">
        <div class="col-sm-5 col-sm-offset-4">
            <button name="subject" type="submit" value="Plus_Antwort/@frage.ID" class="btn btn-warning Volle_Breite glyphicon glyphicon-plus KnopfMitIcon AntwortPlusKnopf" data-toggle="popover" data-content="Antwortmöglichkeit hinzufügen"></button>
        </div>
    </div>
}