<script src="~/Scripts/Frageerstellung.js"></script>

<div class="col-sm-3">
    <label>Abstufungen</label>
</div>
<div class="col-sm-9">
    <select class="form-control ErstellerSelectImHome" 
            onchange="Passe_Antworten_an(this.value, @Session["last"])" 
            name="model.questionViewModels[@Session["last"]].scaleLength">
        @for (int c = 2; c <= 100; c++)
        {
            <option value="@c">
                @c
            </option>
        }
    </select>
</div>
<script>
    Passe_Antworten_an(2, @Session["last"])
</script>