.input-range {
    -webkit-appearance: slider-vertical;
    width: 1px !important;
    margin: unset;
    margin-top: 19px;
    transform: rotate(-180deg);
}

label {
    margin: unset;
}

td {
    min-width: 5px !important;
    width: 5px !important;
    max-width: 5px !important;
}

.kopfzeile {
    width: 5%;
    padding-left: 19px !important;
    padding-top: 37px !important;
}

.antwortzeile:hover {
    background-color: rgba(12, 58, 120, 0.5);
}

.größterEintrag {
    background-color: rgba(12, 58, 120, 0.4) !important;
}

.antwortzeile {
    height: 20px;
}

.spalteAntwortText{
    width:70%;
}
.spalteAntwortAnzahl{
    width:15%;
}
.spalteAntwortProzent{
    width:15%;
}

.KnöpfeFürBeantwortung {
    width: 100%;
    min-width: 100%;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-radius: inherit;
}
