body {
    font-family:"Open Sans Condensed", sans-serif;
    color: #000000;
    font-size: 14pt;    
    border:0;
}
.Überschrift_in_Home {
    color:#0c3a78;
    font-family:"Open Sans Condensed", sans-serif;
    font-size:24px;
    font-weight:700;
}
.Panel_Body_in_Home {
    padding: 0;
}

#Umfragen_Tabelle {
    margin-bottom: 0;
}
.ZeilenInhaltEinerUmfrage {
    height: 44px;
    min-height: 44px;
    max-height:44px;
    width: 100%;
    min-width: 100%;
    max-width:100%;
}

.ErstellerSelectImHome {
-webkit-appearance: menulist-button;
    font-family: Frutiger, sans-serif;
    color: #000000;
    font-size: 18px;
}

.NormalerText {
    color: #000000;
    font-size: 18px;
    font-family:Arial, Helvetica, "Open Sans", sans-serif;
    font-weight: normal;
}

thead, th {
    border: none;
    color:#0c3a78;
    font-family:"Open Sans Condensed", sans-serif;
    font-size:18px;
    font-weight:700;
}

tbody {
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, "Open Sans", sans-serif;
    font-size:18px;
}

.navbar{
    border:0;
    border-radius:0;
    border-bottom: 8px solid #0c3a78;
    color: #000000;
}

#Layout_Footer {
    height:50px;
    padding: 20px;
    text-align:center;
    font-size:12px;
    border-top: 1px solid #000000;
    background: url(../Content/bilder/vhs-assets-css-ae6d73bfd7b69d1dc8689c3e05e1df20.jpg) no-repeat center 0px #ee7400;
    
}
#kopfzeile {
    background: url(../Content/bilder/vhs-assets-css-ae6d73bfd7b69d1dc8689c3e05e1df20.jpg) no-repeat center 0px #ee7400;
}

#kopfzeile, .navbar-brand, .kopfzeilenElement {
    color:#0c3a78 !important;
    font-family:"Open Sans Condensed", sans-serif;
    font-weight:700;
}
.kopfzeilenElement {
    color:#0c3a78 !important;
    font-family:"Open Sans Condensed", sans-serif;
    font-size:18px;
    font-weight:700;
}

.navbar-brand{
    color:#0c3a78 !important;
    font-family:"Open Sans Condensed", sans-serif;
    font-size:24px;
    font-weight:700;
}

.kopfzeilenElement:hover,.navbar-brand:hover{
    color: #FFFFFF !important;
}

.KnopfMitText {
    font-family: Frutiger, sans-serif;
    color: #FFFFFF;
    font-size: 21px;
}
.KnopfMitIcon {
    color: #FFFFFF;
    font-size: 21px;
    width: 46px;
    height: 44px;
}

.KnopfMitText, .KnopfMitIcon {
    background-color: #f08300;
    border-color: #f08300;
    opacity: 0.7;
}

.KnopfMitText:hover, .KnopfMitIcon:hover {
    background-color: #f08300;
    border-color: #f08300;
    opacity: 1.0;
}
.KnopfMitText[disabled], .KnopfMitIcon[disabled] {
    background-color: #f08300;
    border-color: #f08300;
    opacity: 0.35;
}


.Tabellen-Footer {
    padding: unset;
    margin: unset;
    border-top: 1px solid #000000 !important;
    color: #000000;
}

.Tabellen-Header {
    border-bottom: 4px solid #0c3a78 !important; 
    color: #000000;
    background: url(../Content/bilder/vhs-assets-css-ae6d73bfd7b69d1dc8689c3e05e1df20.jpg) no-repeat center 0px #ee7400;
}

.Tabellen-Footer, .Tabellen-Header {
    background-color: #ff8f33;
}

.Tabellen-Body {
    background: #eeeeee; /*eeeeee*/
    /*border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
}

td, th {
    border-color: #333333 !important;
    padding: 0;
}

.popover-title { display: none; }

.TextfeldInBearbeitung 
{
    width: 100% !important;
    max-width: 100% !important;
    /*margin-bottom: 25px;*/
    height: 47px;
    color: #000000;
    font-size: 18px;
    font-family:Arial, Helvetica, "Open Sans", sans-serif;
    font-weight: normal;
}

.KnöpfeZumHinzufügen {
    width: 100%;
}

.AuswahlKnopf, .AuswahlKnopfInBeantwortung {
    height: 18px;
    width: 18px;
    text-align: right;
}

.AuswahlKnopf {
    margin: 8px !important;
    margin-right: -16px !important;
}

.AuswahlKnopfInBeantwortung {
    text-align: right;
}

.SonstigesAuswahlKnopfInBeantwortung {
    margin-top: 8px !important;
}

.KleinerKnopf {
    font-size: 14px;
    width: 40px;
    height: 34px;
}

.AntwortPlusKnopf {
    width: 100%;
}

h2 {
    color:#0c3a78;
    font-family:"Open Sans Condensed", sans-serif;
    font-size:24px;
    font-weight:700;
}

.spalteSchmal {
    width: 50% !important;
    min-width: 50% !important;
    max-width:50% !important;
    text-align: right;
}

.sonstigesTextfeld {
    display: inline !important;
}


.SkalaInput1 {
    height:104px; width:100% !important; margin: 17.5px;
    border: 2px solid #000000;
    float: right;
    margin-right: 8px !important;
    margin-top: 8.75px;
}

.SkalaInput2 {
    width:100% !important; max-width: 100% !important;
}


.SkalenDivHöhe {
    height:132px; padding: 0px; text-align: right;
}

.SkalaInputSpalte1 {
    margin-top: 5px; margin-bottom: 5px;
}

.SkalaInputSpalte2 {
    min-height: 34px; margin-top: 5px; margin-bottom: 5px;
    padding-left: 0px !important;
}

.Fragetext {
    color:rgb(0, 0, 0);
    font-family:Arial, Helvetica, "Open Sans", sans-serif;
    font-size:18px;
    max-width: 100%;
    overflow-x: hidden;
    font-weight: bold;
}