body {
    color: #000000;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 14pt;   
    border:0;
}

.Überschrift_in_Home {
    color: #0c3a78;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.Panel_Body_in_Home { padding: 0; }

#Umfragen_Tabelle { margin-bottom: 0; }

.ZeilenInhaltEinerUmfrage {
    height: 44px;
    max-height: 44px;
    max-width: 100%;
    min-height: 44px;
    min-width: 100%;
    width: 100%;
}

.ErstellerSelectImHome {
    -webkit-appearance: menulist-button;
    color: #000000;
    font-family: Frutiger, sans-serif;
    font-size: 18px;
}

.NormalerText {
    color: #000000;
    font-family: Arial, Helvetica, "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
}

thead, th {
    border: none;
    color: #0c3a78;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

tbody {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, "Open Sans", sans-serif;
    font-size: 18px;
}

.navbar{
    border:0;
    border-radius:0;
    border-bottom: 8px solid #0c3a78;
    color: #000000;
}

#Layout_Footer {
    background: url(../Content/bilder/vhs-assets-css-ae6d73bfd7b69d1dc8689c3e05e1df20.jpg) no-repeat center 0 #ee7400;
    border-top: 1px solid #000000;
    font-size: 12px;
    height: 50px;
    padding: 20px;
    text-align: center;
}

#kopfzeile { background: url(../Content/bilder/vhs-assets-css-ae6d73bfd7b69d1dc8689c3e05e1df20.jpg) no-repeat center 0 #ee7400; }

#kopfzeile, .navbar-brand, .kopfzeilenElement {
    color: #0c3a78 !important;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 700;
}

.kopfzeilenElement {
    color: #0c3a78 !important;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.navbar-brand {
    color: #0c3a78 !important;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.kopfzeilenElement:hover, .navbar-brand:hover { color: #FFFFFF !important; }

.KnopfMitText {
    color: #FFFFFF;
    font-family: Frutiger, sans-serif;
    font-size: 21px;
}

.KnopfMitIcon {
    color: #FFFFFF;
    font-size: 21px;
    height: 44px;
    width: 46px;
}

.KnopfMitText, .KnopfMitIcon {
    background-color: #f08300;
    border-color: #f08300;
    opacity: 0.7;
}

.KnopfMitText:hover, .KnopfMitIcon:hover {
    background-color: #f08300;
    border-color: #f08300;
    opacity: 1.0;
}

.KnopfMitText[disabled], .KnopfMitIcon[disabled] {
    background-color: #f08300;
    border-color: #f08300;
    opacity: 0.35;
}


.Tabellen-Footer {
    border-top: 1px solid #000000 !important;
    color: #000000;
    margin: unset;
    padding: unset;
}

.Tabellen-Header {
    background-color: #ee7400;
    background-image: url(../Content/bilder/vhs-assets-css-ae6d73bfd7b69d1dc8689c3e05e1df20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 4px solid #0c3a78 !important;
    color: #000000;
}

.Tabellen-Footer, .Tabellen-Header { background-color: #ff8f33; }

.Tabellen-Body { background: #eeeeee; }

td, th {
    border-color: #333333 !important;
    padding: 0;
}

.popover-title { display: none; }

.TextfeldInBearbeitung {
    color: #000000;
    font-family: Arial, Helvetica, "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: normal;
    height: 47px;
    max-width: 100% !important;
    width: 100% !important;
}

.KnöpfeZumHinzufügen { width: 100%; }

.AuswahlKnopf, .AuswahlKnopfInBeantwortung {
    height: 18px;
    text-align: right;
    width: 18px;
}

.AuswahlKnopf {
    margin: 8px !important;
    margin-right: -16px !important;
}

.AuswahlKnopfInBeantwortung { text-align: right; }

.SonstigesAuswahlKnopfInBeantwortung { margin-top: 8px !important; }

.KleinerKnopf {
    font-size: 14px;
    height: 34px;
    width: 40px;
}

.AntwortPlusKnopf { width: 100%; }

h2 {
    color: #0c3a78;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.spalteSchmal {
    max-width: 50% !important;
    min-width: 50% !important;
    text-align: right;
    width: 50% !important;
}

.sonstigesTextfeld { display: inline !important; }


.SkalaInput1 {
    border: 2px solid #000000;
    float: right;
    height: 104px;
    margin: 17.5px;
    margin-right: 8px !important;
    margin-top: 8.75px;
    width: 100% !important;
}

.SkalaInput2 {
    max-width: 100% !important;
    width: 100% !important;
}


.SkalenDivHöhe {
    height: 132px;
    padding: 0;
    text-align: right;
}

.SkalaInputSpalte1 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.SkalaInputSpalte2 {
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 34px;
    padding-left: 0 !important;
}

.Fragetext {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    max-width: 100%;
    overflow-x: hidden;
    font-weight: bold;
}

.FillerDIV {
    background: #eeeeee;
    height: 64px;
    padding-top: 10px;
}

.BeantwortungKapitelKnopf {
    width: 70%;
    margin-left: 15%;
}

.BeantwortungFragenKnopf {
    width: 60%;
    margin-left: 20%;
}

.Kapitel_Block {
    background: #eeeeee;
    margin: 0;
    width: 90%;
    margin-left: 5%;
}

.Fragen_Block {
    background: #eeeeee;
}

.Kapitel-Body {
    border: 2px solid #aaaaaa;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#PanelFürUmfrage {
    margin-top: 0 !important;
}

.body-content {
    margin-left: 5%;
    margin-right: 5%;
    min-width: 90%;
}

.Home-Panel {
    width: 100%;
}

.Anzeigpfeil {
    float: right;
    background-color:unset;
    border:0;
    height: 22px;

}