@{
    ViewBag.Title = "Ergebnisse";
}
@model ICollection<SessionViewModel>
<link href="~/Content/Auswertung.css" rel="stylesheet" type="text/css" />
<link href="~/Content/Home.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="panel">
    <div class="panel-heading Tabellen-Header">
        <h2 class="panel-title Überschrift_in_Home" >
            Antworten
        </h2>
    </div>
    <div class="panel-body Tabellen-Body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="25%">
                        Beantwortet am:
                    </th>
                    <th width="50%">
                        Index:
                    </th>
                    <th width="25%">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var beantwortungssitzung in Model)
                {
                    <tr>
                        <td width="25%">
                            @beantwortungssitzung.creationDate
                        </td>
                        <td width="50%">
                            @beantwortungssitzung.ID
                        </td>
                        <td width="25%">
                            @if (beantwortungssitzung.givenAnswerViewModels.Count != 0)
                            {
                                @Html.ActionLink(" ", "Antworten", "Auswertung_Einzel", new { arg = beantwortungssitzung.ID }, new { @class = "btn btn-warning KnopfMitIcon glyphicon glyphicon-eye-open" })
                            }
                            else
                            {
                                <a class="btn btn-warning KnopfMitIcon glyphicon glyphicon-eye-open" disabled></a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="PanelFooter" class="panel-footer Tabellen-Footer">
        @Html.ActionLink("Zurück", "Fragen_Ergebnisse", "Auswertung_kumuliert",  new { arg = Model.First().surveyviewModel.ID },new { @class = "btn btn-lg btn-warning KnöpfeFürBeantwortung KnopfMitText" })
    </div>
</div>