@model GivenAnswerViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<div class="panel-body Frage_in_Beantwortung">
    @{
        int nummer = Model.questionViewModel.position + 1;
    }
    <p><label class="Fragetext">@nummer. @Model.questionViewModel.text </label></p>
    <input maxlength=600 class="form-control BreiteFuerBeantwortung AntwortFeldFuerBeantwortung" type="text" readonly value="@Model.text" />
</div>
