@model GivenAnswerViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Fortschritt.js"></script>
<div class="panel-body Frage_in_Beantwortung">
    @{
        int nummer = Model.questionViewModel.position + 1;
    }
    <p><label class="Fragetext">@nummer. @Model.questionViewModel.text </label></p>
    @{
        List<string> Antwortmoeglichkeiten = new List<string>();
        foreach (var Antwortmoeglichkeit in Model.questionViewModel.choices)
        {
            Antwortmoeglichkeiten.Add(Antwortmoeglichkeit.text);
        }

        List<string> abgegebene_Antworten = new List<string>();
        string sonstige_Antwort = "";

        foreach (var abgegebene_Antwort in Model.questionViewModel.givenAnswerViewModels)
        {
            if (Antwortmoeglichkeiten.Contains(abgegebene_Antwort.text) == true)
            {
                abgegebene_Antworten.Add(abgegebene_Antwort.text);
            }
            else
            {
                sonstige_Antwort = abgegebene_Antwort.text;
            }
        }
    }

    @foreach (var Antwortmöglichkeit in Model.questionViewModel.choices)
    {
        <div class="radio">
            @if (abgegebene_Antworten.Contains(Antwortmöglichkeit.text) == true)
            {
                <input type="radio" disabled checked="checked"  class="AuswahlKnopfInBeantwortung "/>
            }
            else
            {
                <input type="radio" disabled  class="AuswahlKnopfInBeantwortung "/>
            }
            <label for="@Antwortmöglichkeit">@Antwortmöglichkeit.text</label>
        </div>
    }
    <label>
        Sonstiges:
        <input class="form-control" readonly value="@sonstige_Antwort" />
    </label>
    
    

</div>