@{
    ViewBag.Title = "Antworten";

    var id = Request.Url.Segments.Last();

}

<style>
    .col-lg-6 {
        overflow-x: hidden;
    }
</style>
@model List<AnsweringViewModel>
<div class="panel panel-default ">
    <div class="panel-heading">
        @Model.First().sessionViewModel.creationDate
    </div>
    <div class="panel-body">
        <table>
            <tr><th class="col-lg-6"><u>Frage:</u></th><th class="col-lg-6"><u>Antwort:</u></th></tr>
           @foreach (var item in Model)
           {
            <tr>
                <td class="col-lg-6">
                    @item.questionViewModel.text
                </td>
                <td class="col-lg-6">
                    @item.text
                </td>
            </tr>
           }
        </table>
    </div>
</div>
@if (true)
{
    string ed = Session["Vorherige_Umfrage"].ToString();
    <a type="button" class="btn btn-info btn-sm" href="/Umfrage_Ergebnisse/Ergebnisse/@ed">Zurück</a>
}


