@{
    ViewBag.Title = "Antworten";
}
@model List<GivenAnswerViewModel>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            Beantwortung vom @Model.First().sessionViewModel.creationDate
        </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Frage
                    </th>
                    <th>
                        gegebene Antwort
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Beantwortung in Model)
                {
                    string Beantwortungstext = "";
                    string Fragetext = Beantwortung.questionViewModel.text;
                    switch (Beantwortung.questionViewModel.type)
                    {
                        case Domain.Question.choices.MultipleOne:
                            Beantwortungstext = Beantwortung.questionViewModel.choices.FirstOrDefault(f => f.ID.ToString() == Beantwortung.text).text;
                            break;
                        case Domain.Question.choices.Skalenfrage:
                            Beantwortungstext = Beantwortung.text;
                            break;
                        case Domain.Question.choices.Freitext:
                        default:
                            Beantwortungstext = Beantwortung.text;
                            break;
                    }
                    <tr>
                        <td>
                            @Fragetext
                        </td>
                        <td>
                            @Beantwortungstext
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Zurück", "Ergebnisse", "Umfrage_Ergebnisse", new { arg = Session["Vorherige_Umfrage"].ToString() }, new { @class = "btn btn-info btn-md" })
    </div>
</div>