
@{
    ViewBag.Title = "Ergebnisse";
}
@model ICollection<SessionViewModel>
<div class="panel panel-default">
    <div class="panel-heading">Antworten:</div>
    <div class="panel-body">
        <ul style="list-style: none">
            <li><div class="col-lg-1" style=""><u>Datum:</u></div><div class="col-lg-5"><u>ID:</u></div></li>
            <br />
            @if (Model != null)
            {
                foreach (var session in Model)
                {
                    foreach (var answer in session.answeringViewModels)
                    {
                        <li><div class="col-lg-1">@session.creationDate</div><div class="col-lg-5">@answer.ID</div><div class="col-lg-6"><a type="button" class="btn btn-info btn-sm" href="/Umfrage_Ergebnisse/Antworten">Anzeigen</a></div></li>
                    }
                }
            }
        </ul>
    </div>
</div>
<a type="button" class="btn btn-info btn-sm" href="/Umfrage_Ergebnisse">Zurück</a>



