@{
    ViewBag.Title = "Ergebnisse";
}
@model ICollection<SessionViewModel>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            Antworten
        </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Beantwortet am:
                    </th>
                    <th>
                        Index:
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var beantwortungssitzung in Model)
                {
                    <tr>
                        <td>
                            @beantwortungssitzung.creationDate
                        </td>
                        <td>
                            @beantwortungssitzung.ID
                        </td>
                        <td>
                            @if (beantwortungssitzung.givenAnswerViewModels.Count != 0)
                            {
                                @Html.ActionLink("Anzeigen", "Antworten", "Umfrage_Ergebnisse", new { arg = beantwortungssitzung.ID }, new { @class = "btn btn-info btn-sm" })
                            }
                            else
                            {
                                <a class="btn btn-info btn-sm" disabled>Anzeigen</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Zurück", "Fragen_Ergebnisse", "Umfrage_Ergebnisse",  new { arg = Model.First().surveyviewModel.ID },new { @class = "btn btn-info btn-md" })
    </div>
</div>