@{
    ViewBag.Title = "Fragen Ergebnisse";
}

@* ViewBag Titel ändern zu Umfragennamen *@

@model List<QuestionViewModel>
<link href="~/Content/Auswertung.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<h2>kumulierte Auswertung</h2>
<div class="panel-group" id="Hauptpanel_fuer_automatisches_Einklappen">
    @foreach (var Frage in Model)
    {
        @Html.Action("Panel_fuer_Frage_in_kumulierter_Auswertung", "Umfrage_Ergebnisse", Frage);
    }
</div>