@model Umfrage_Tool.QuestionViewModel
@* Kumulieren der gegebenen Antworten *@
@{
    Dictionary<string, int> Antworten = new Dictionary<string, int>();
    foreach (var Beantwortung in Model.answeringViewModels)
    {
        string Index = Beantwortung.text;
        Antworten[Index] = 0;
    }
    foreach (var Beantwortung in Model.answeringViewModels)
    {
        string Index = Beantwortung.text;
        Antworten[Index]++;
    }
    int Anzahl_der_Zeilen = Antworten.Count() + 1;
}
@* Tabellenkopf *@
@{
    <tr>
        <th class="Kopfzeile" rowspan="@Anzahl_der_Zeilen">
        </th>
        <th>
            Antwort:
        </th>
        <th>
            Anteil:
        </th>
        <th>
            Anteil in Prozent:
        </th>
    </tr>
}
@* Auflisten der einzelnen Antworten *@
@{
    int haeufigste_Antwort = Antworten.OrderByDescending(d => d.Value).First().Value;
    int Gesamtmenge_der_gegebenen_Antworten = Model.answeringViewModels.Count();
    foreach (var Beantwortung in Antworten.OrderByDescending(d => d.Value))
    {
        string Klasse_fuer_Groessten_Eintrag = "";
        int Anzahl_der_gegebenen_Antwort = Beantwortung.Value;
        string Text_der_gegebenen_Antwort = Beantwortung.Key;
        if (Anzahl_der_gegebenen_Antwort == haeufigste_Antwort)
        {
            Klasse_fuer_Groessten_Eintrag = "Groesster_Eintrag";
        }
        <tr class="@Klasse_fuer_Groessten_Eintrag Antwortenzeile">
            <td>
                <b>
                    @Text_der_gegebenen_Antwort
                </b>
            </td>
            <td>
                @Anzahl_der_gegebenen_Antwort
            </td>
            <td>
                @Math.Round((double)Anzahl_der_gegebenen_Antwort / (double)Gesamtmenge_der_gegebenen_Antworten * 100, 2) %
            </td>
        </tr>
    }
}