@{
    ViewBag.Title = "Auswertung einzelner Fragebögen";
}
@model ICollection<SurveyViewModel>
@using Domain;

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">
            Fragebögen
        </h4>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Fragebogenname:
                    </th>
                    <th>
                        Anzahl der Beantwortungen:
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Umfrage in Model)
            {
                    <tr>
                        <td>
                            @Umfrage.name
                        </td>
                        <td>
                            @if (Umfrage.sessionViewModel != null)
                            {
                                @Umfrage.sessionViewModel.Count()
                            }
                            else
                            {
                                <b>
                                    Die Umfrage wurde noch nicht beantwortet!
                                </b>
                            }
                        </td>
                        <td>
                            @if (Umfrage.sessionViewModel.Count != 0)
                            {
                                if (Umfrage.states == Survey.States.Beendet)
                                {
                                    @Html.ActionLink("Anzeigen", "Ergebnisse", "Umfrage_Ergebnisse", new {arg = Umfrage.ID}, new {@class = "btn btn-info btn-sm"})
                                }
                                else
                                {
                                    <a class="btn btn-info btn-sm" disabled>Anzeigen</a>
                                }
                            }
                            else
                            {
                                <a class="btn btn-info btn-sm" disabled>Anzeigen</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>