@model GivenAnswerViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Fortschritt.js"></script>
<div class="panel-body Frage_in_Beantwortung">
    <p> <label class="Fragetext"> @Model.questionViewModel.text </label></p>

    @foreach (var Antwortmöglichkeit in Model.questionViewModel.choices)
    {
        <div class="radio">
            @if (Antwortmöglichkeit.ID.ToString() == Model.text)
            {
                <input type="radio" disabled checked="checked" />
            }
            else
            {
                <input type="radio" disabled />
            }
            <label for="@Antwortmöglichkeit">@Antwortmöglichkeit.text</label>
        </div>

    }
</div>