@{
    ViewBag.Title = "Umfrage-Tool";
}


<script src="~/Scripts/Abfrage_vorm_löschen.js"></script>

<div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Liste der erstellten Umfragen</h4></div>
        <div class="panel-body" style="padding:0px">
            @Html.Action("Erstellte_Umfragen_Normaler_Nutzer", "Home")
        </div>
    </div>
    
    <p>
        @Html.ActionLink("Umfrage erstellen", "Index", "Umfrage_Erstellung", null, new { @class = "btn btn-info btn-lg" })
    </p>
    <p>
        @Html.ActionLink("Neuen Nutzer erstellen", "Register", "Account", new { area = "" }, new { @class = "btn btn-info btn-lg" })
    </p>
    
</div>
