@{
    ViewBag.Title = "Umfrage-Tool";
}
@*@{ List<SelectListItem> listitems = new List<SelectListItem>();
    foreach (var item in Model)
    {
        listitems.Add(new SelectListItem { Text = item.name, Value = item.name });
    }
    }*@
@model List<SurveyViewModel>
    
<div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Liste der erstellten Umfragen</h4></div>
        <div class="panel-body" style="padding:0px">
            <table class="table" style="margin-bottom:0px;">
                <tr style="border:none">
                    <th style="border:none">
                        <p>Fragebogen Name</p>
                    </th>                    
                    <th style="border:none">
                        <p>Link zur Beantwortung</p>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    string link = "http://localhost:60480/Umfrage_Beantwortung?arg=" + item.ID;
                    <tr>
                        <td>
                            <p>@item.name</p>
                        </td>                        
                        <td><a href="@link">@link</a></td>
                    </tr>
                }
            </table>
            @*@Html.DropDownList("name", new SelectList(listitems,"Value","Text"))*@
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Fragebogen erstellen</h4></div>
        <div class="panel-body">
            @Html.ActionLink("Umfrage erstellen", "Index", "Umfrage_Erstellung", null, new { @class = "btn btn-info btn-lg" })
        </div>
    </div>
</div>
