
@{
    ViewBag.Title = "Umfrage-Tool";
}
<div>
    <div class="panel panel-default">
        <div class="panel-heading">beliebiger Fragebogen</div>
        <div class="panel-body">
            <input class="btn btn-info btn-lg" value="Starten" />
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Fragebogen erstellen</div>
        <div class="panel-body">
            <a type="button" class="btn btn-info btn-lg" href="/Umfrage_Erstellung/Index">Starten</a>
        </div>
    </div>
</div>
