
@{
    ViewBag.Title = "Umfrage-Tool";
}
<div>
    <div class="panel panel-default">
        <div class="panel-heading">beliebiger Fragebogen</div>
        <div class="panel-body">
            @Html.ActionLink("Umfrage beantworten", "Index", "Umfrage_Beantwortung", null, new { @class = "btn btn-info btn-lg" })
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Fragebogen erstellen</div>
        <div class="panel-body">
            @Html.ActionLink("Umfrage erstellen", "Index", "Umfrage_Erstellung", null, new { @class = "btn btn-info btn-lg" })
        </div>
    </div>
</div>
