@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<div id="Frage @Model.position" class="panel-body Frage_in_Beantwortung">
@{
    int nummer = Model.position + 1;
}
    <p><label class="Fragetext">@nummer.@Model.text </label></p>
    <input maxlength = 600 name="Antworten[@Session["FragenIndex"]].text" class="form-control BreiteFuerBeantwortung AntwortFeldFuerBeantwortung " type="text" required data-toggle = "popover" data-content = "Textfeld für Freitext-Antwort"/>
    <input maxlength = 600 name="Antworten[@Session["FragenIndex"]].questionViewModel.position" style="display:none" value="@Model.position" required />

</div>