@model Umfrage_Tool.Models.FragenModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Fortschritt.js"></script>
<div id="Frage @Model.ID" class="panel-body" style="display:none">
    <p><label class="Fragetext"> @Model.Text </label></p>
    <input class="form-control Breite_fuer_Beantwortung" type="text" />
</div>
