@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<div id="Frage @Model.position" class="panel-body Frage_in_Beantwortung">
@{
    Model.position = Model.position + 1;
}
    <p><label class="Fragetext">@Model.position. @Model.text </label></p>
    <input maxlength = 600 name="Antworten[@Session["FragenIndex"]].text" class="form-control BreiteFürBeantwortung" type="text" required/>
    <input maxlength = 600 name="Antworten[@Session["FragenIndex"]].questionViewModel.position" style="display:none" value="@Model.position" required />

</div>