@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/Fortschritt.js"></script>
<div id="Frage @Model.position" name="none" class="panel-body" style="display:none">
    <p><label class="Fragetext"> @Model.text </label></p>
    <input class="form-control Breite_fuer_Beantwortung" type="text" />
</div>