@model QuestionViewModel
<link href="~/Content/Fragebogen.css" rel="stylesheet" type="text/css" />
<div id="Frage @Model.position" class="panel-body">
    <p><label class="Fragetext"> @Model.text </label></p>
    <input name="antworttext" class="form-control Breite_fuer_Beantwortung" type="text" required/>
</div>
