
@{
    ViewBag.Title = "Umfrage-Tool";
}

<h2>Umfrage-Tool</h2>

<p>Hallo ich bin das Umfrage-Tool der FI17!</p>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">beliebiger Fragebogen</div>
        <div class="panel-body">
            <img />
            <input class="btn btn-info btn-lg" value="Starten" />
        </div>
        <div class="panel-footer">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Fragebogen erstellen</div>
        <div class="panel-body">
            <a type="button" class="btn btn-info btn-lg" href="/Umfrage_Erstellung/Index">Starten</a>

        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>
