@model Umfrage_Tool.QuestionViewModel
<link href="~/Content/Auswertung.css" rel="stylesheet" type="text/css" />
@* Kumulieren der gegebenen Antworten *@
@{
    Dictionary<string, int> antworten = new Dictionary<string, int>();
    foreach (var beantwortung in Model.givenAnswerViewModels)
    {
        string index = beantwortung.text;
        antworten[index] = 0;
    }
    foreach (var beantwortung in Model.givenAnswerViewModels)
    {
        string index = beantwortung.text;
        antworten[index]++;
    }
}
@* Tabellenkopf *@
@{
    <tr>
        <th colspan="3">
            <label>Ausgewählte Antworten</label>
        </th>
    </tr>
    <tr>
        <th class="spalteAntwortText">
            <label>
                Antwort:
            </label>
        </th>
        <th class="spalteAntwortAnzahl">
            <label>
                Anzahl:
            </label>
        </th>
        <th class="spalteAntwortProzent">
            <label>
                Anteil in Prozent:
            </label>
        </th>
    </tr>
}
@* Auflisten der einzelnen Antworten *@
@{
    int häufigsteAntwort = antworten.OrderByDescending(d => d.Value).First().Value;
    int gesamtmengeDerGegebenenAntworten = Model.givenAnswerViewModels.Count;
    foreach (var beantwortung in antworten.OrderByDescending(d => d.Value))
    {
        string styleFürHäufigstenEintrag = "";
        int häufigkeitDerGegebenenAntwort = beantwortung.Value;
        string textDerGegebenenAntwort = beantwortung.Key;
        if (häufigkeitDerGegebenenAntwort == häufigsteAntwort)
        {
            styleFürHäufigstenEintrag = "größterEintrag";
        }
        <tr class="antwortzeile">
            <td class="@styleFürHäufigstenEintrag">
                <b>
                    @textDerGegebenenAntwort
                </b>
            </td>
            <td class="@styleFürHäufigstenEintrag">
                @häufigkeitDerGegebenenAntwort
            </td>
            <td class="@styleFürHäufigstenEintrag">
                @if (gesamtmengeDerGegebenenAntworten != 0)
                {
                    @Math.Round(häufigkeitDerGegebenenAntwort / (double)gesamtmengeDerGegebenenAntworten * 100, 2)
                }
                else
                {
                    @Html.Raw("0")
                }
                %
            </td>
        </tr>
    }
}